@model RMS.Models.Menu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/justbootstrap.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YemekAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YemekAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YemekFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YemekFiyat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YemekId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
