@model IEnumerable<RMS.Models.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/justbootstrap.cshtml";
}


<div class="container d-flex align-items-center justify-content-center " style="height:100vh;">

    <div class=" row  ">

        <div class="row border-0 p-4 border shadow " style="background-color: white; ">
            <p>
                @Html.ActionLink("Geri Dön", "onlyAdmin", "admin", "admin", new { @class = "btn btn-outline-success " })
                @Html.ActionLink("Create New", "Create", "menu", new { @class = "btn btn-outline-success " })
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.YemekAd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.YemekFiyat)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.YemekAd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YemekFiyat)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.YemekId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.YemekId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.YemekId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>



