@model RMS.Models.Managers.AdminViewModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@using Newtonsoft.Json.Linq

<link href="~/Content/PagesContent/Admin/onlyAdmin/onlyAdmin.css" rel="stylesheet" />




<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

</div>

<!-- Content Row -->
<div class="row">


    @{
        decimal aylýk = Model.Siparisler.Where(x => x.Tarih >= DateTime.Now.AddDays(-30) && x.Tarih <= DateTime.Now && x.Durum == "Ödendi").Sum(s => s.YemekFiyat * s.Adet).Value;
        decimal haftalýk = Model.Siparisler.Where(x => x.Tarih >= DateTime.Now.AddDays(-7) && x.Tarih <= DateTime.Now && x.Durum == "Ödendi").Sum(s => s.YemekFiyat * s.Adet).Value;
        int bir = Model.Siparisler.Count();


        var enCokSiparisEdilenler = Model.Siparisler
            .Where(siparis => siparis.Durum == "Ödendi")
            .GroupBy(siparis => new { siparis.YemekAd })
            .Select(grup => new
            {

                YemekAd = grup.Key.YemekAd,
                ToplamAdet = grup.Sum(siparis => siparis.Adet)
            })
            .OrderByDescending(x => x.ToplamAdet)
            .Take(5)
            .ToList();


    }


    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Kazanç (Aylýk)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            &#8378;@aylýk
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Kazanç (Haftalýk)
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">&#8378;@haftalýk</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-turkish-lira-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Aylýk Personel Maaþý Toplamý
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">

                                    @Model.Personeller.Sum(x => x.Maaþ) &#8378;
                                </div>
                            </div>
                            @*<div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar"
                                             style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Aylýk Kar/Zarar
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800"> @((double)aylýk - (Model.Personeller.Sum(x => x.Maaþ)))</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sipariþler</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->



            <div class="card-body">
                <div class="Table-area">

                    <table id="siparisTable" class="display  nowrap " cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Masa</th>
                                <th>Adisyon</th>
                                <th>Yemek</th>
                                <th>Adet</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int c = 1;
                            }
                            @foreach (var group in Model.Siparisler.GroupBy(s => new { s.AdisyonId, s.Durum }))
                            {
                                // Adisyona ait tüm yemekleri grupla
                                var yemeklerGrup = group.GroupBy(x => x.YemekOzellikJson);



                                foreach (var yemekGrup in yemeklerGrup)
                                {
                                    var ilkYemek = yemekGrup.First();
                                    var yemekJson = ilkYemek.YemekOzellikJson;

                                    // Yemek JSON verisi boþ veya null deðilse
                                    if (!string.IsNullOrEmpty(yemekJson) && yemekJson != "{}")
                                    {
                                        var yemekJsonObj = JObject.Parse(yemekJson);

                                        <tr>
                                            <td> @ilkYemek.MasaId</td>
                                            <td> @ilkYemek.AdisyonId</td>
                                            <td>
                                                @{
                                                    List<string> icerik = new List<string>();

                                                }


                                                @foreach (var option in yemekJsonObj)
                                                {
                                                    icerik.Add(option.Key + ":" + string.Join(", ", (option.Value.Type == JTokenType.Array ? option.Value : new JArray(option.Value))));
                                                }



                                                <a class=" collapsebtn" data-toggle="collapse" href="#collapse-@c" role="button" aria-expanded="false" aria-controls="collapse-@c">
                                                    @ilkYemek.YemekAd <i class="fa-solid fa-caret-down"></i>
                                                </a>

                                                <div style="position:absolute">
                                                    <div class="collapse width" id="collapse-@c">
                                                        <div class="card card-body" style="max-width: 298px;text-wrap:balance;">

                                                            @foreach (var item in icerik)
                                                            {
                                                                <span>@item.ToString()</span>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>
                                                @{ c++;
                                                }

                                            </td>
                                            <td> @yemekGrup.Sum(x => x.Adet)</td>
                                            <td> @ilkYemek.Tarih</td>
                                            <td class="@(ilkYemek.Durum =="Aktif" ? "text-primary" : "" )@(ilkYemek.Durum =="Kaldýrýldý" ? "text-danger" : "" )@(ilkYemek.Durum =="Ödendi" ? "text-success" : "" ) "> @ilkYemek.Durum</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        // JSON verisi null veya boþsa, özelliksiz yemekleri grupla
                                        var ozelliksizYemeklerGrup = group.Where(x => string.IsNullOrEmpty(x.YemekOzellikJson) || x.YemekOzellikJson == "{}")
                                                                           .GroupBy(x => x.YemekAd);

                                        foreach (var ozelliksizYemekGrup in ozelliksizYemeklerGrup)
                                        {
                                            var toplamAdet = ozelliksizYemekGrup.Sum(x => x.Adet);
                                            var ilkYemekk = ozelliksizYemekGrup.First();

                                            <tr>
                                                <td> @ilkYemekk.MasaId</td>
                                                <td> @ilkYemekk.AdisyonId</td>
                                                <td> @ilkYemekk.YemekAd</td>
                                                <td> @toplamAdet</td>
                                                <td> @ilkYemekk.Tarih</td>
                                                <td class="@(ilkYemek.Durum =="Aktif" ? "text-primary" : "" )@(ilkYemek.Durum =="Kaldýrýldý" ? "text-danger" : "" )@(ilkYemek.Durum =="Ödendi" ? "text-success" : "" ) "> @ilkYemekk.Durum</td>
                                            </tr>
                                        }
                                    }
                                }
                            }

                        </tbody>
                    </table>



                </div>


            </div>
        </div>
    </div>

    <!-- Polar Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">En Çok Satýlan 5 Ürün</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->

            @{

                int i = 1;
                foreach (var item in enCokSiparisEdilenler)
                {

                    <span id="polarChartData-@i" text="@item.YemekAd" value="@item.ToplamAdet"></span>
                    i++;
                }

            }




            <div class="card-body" style="width: 100%; height: 100%;">
                <div class="chart-container" style="position: relative; height: 40vh; width: 100%; ">

                    <canvas id="myChart" style="width: 100%; height: 100%;"></canvas>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<!--<div class="row">-->
<!-- Content Column -->
<!--<div class="col-lg-6 mb-4">-->
<!-- Project Card Example -->
<!--<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
    </div>
    <div class="card-body">
        <h4 class="small font-weight-bold">
            Server Migration <span class="float-right">20%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Sales Tracking <span class="float-right">40%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Customer Database <span class="float-right">60%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar" role="progressbar" style="width: 60%"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Payout Details <span class="float-right">80%</span>
        </h4>
        <div class="progress mb-4">
            <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <h4 class="small font-weight-bold">
            Account Setup <span class="float-right">Complete!</span>
        </h4>
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>-->
<!-- Color System -->
<!--<div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card bg-primary text-white shadow">
                <div class="card-body">
                    Primary
                    <div class="text-white-50 small">#4e73df</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-success text-white shadow">
                <div class="card-body">
                    Success
                    <div class="text-white-50 small">#1cc88a</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-info text-white shadow">
                <div class="card-body">
                    Info
                    <div class="text-white-50 small">#36b9cc</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-warning text-white shadow">
                <div class="card-body">
                    Warning
                    <div class="text-white-50 small">#f6c23e</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-danger text-white shadow">
                <div class="card-body">
                    Danger
                    <div class="text-white-50 small">#e74a3b</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-secondary text-white shadow">
                <div class="card-body">
                    Secondary
                    <div class="text-white-50 small">#858796</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-light text-black shadow">
                <div class="card-body">
                    Light
                    <div class="text-black-50 small">#f8f9fc</div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card bg-dark text-white shadow">
                <div class="card-body">
                    Dark
                    <div class="text-white-50 small">#5a5c69</div>
                </div>
            </div>
        </div>
    </div>

</div>-->

<div class="col-lg-6 mb-4">

    <!-- Illustrations -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-capitalize">En çok satýþ yapan personeller</h6>
        </div>
        <div class="card-body">

            @{
                var siraliPersoneller = Model.Personeller.OrderByDescending(personel => Model.Siparisler
                    .Where(siparis => siparis.PersonelId == personel.PersonelId && siparis.Durum == "Ödendi")
                    .Sum(siparis => siparis.YemekFiyat * siparis.Adet)).Take(5);
            }

            <table id="personel" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Ad</th>
                        <th scope="col">Soyad</th>
                        <th scope="col">Toplam Tutar</th>
                        <th scope="col">Toplam Adet</th>
                    </tr>
                </thead>
                <tbody class="justify-content-center">
                    @{int a = 0; }
                    @foreach (var personel in siraliPersoneller)
                    {
                        var siparislerPersonel = Model.Siparisler.Where(siparis => siparis.PersonelId == personel.PersonelId && siparis.Durum == "Ödendi");
                        decimal? toplamTutar = siparislerPersonel.Sum(siparis => siparis.YemekFiyat * siparis.Adet);
                        int toplamAdet = siparislerPersonel.Sum(siparis => siparis.Adet);

                        <tr class="table-@(a ==0 ? "success" : "" )@(a ==1 ? "primary" : "" )@(a ==2 ? "secondary" : "" )">
                            <td>@personel.Ad</td>
                            <td>@personel.Soyad</td>
                            <td>@toplamTutar</td>
                            <td>@toplamAdet</td>
                        </tr>
                        a++;
                    }
                </tbody>
            </table>










        </div>
    </div>

    <!-- Approach -->
    @*<div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
            </div>
            <div class="card-body">
                <p>
                    SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                    CSS bloat and poor page performance. Custom CSS classes are used to create
                    custom components and custom utility classes.
                </p>
                <p class="mb-0">
                    Before working with this theme, you should become familiar with the
                    Bootstrap framework, especially the utility classes.
                </p>
            </div>
        </div>*@

</div>









<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<!--ssssssssssss-->
@*<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

       <link href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.bootstrap4.min.css" />



        <script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/searchBuilder.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>



            <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

            <script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/datetime-moment.js"></script>

    <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>*@

<script src="~/Content/PagesContent/Admin/onlyAdmin/onlyAdmin.js"></script>