@model RMS.Models.Personeller

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="container d-flex align-items-center justify-content-center " style="height:100vh;">



    <div class="row card border-0 p-4 border shadow " style="background-color: white;width:350px; ">




        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <h4 class="card-title text-center">Personeller</h4>
            <hr />
            <div class="form-horizontal card-body d-block justify-content-center">



                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Maaş, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Maaş, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Maaş, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cinsiyet, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">

                        @Html.DropDownListFor(model => model.Cinsiyet, new SelectList(Enum.GetValues(typeof(RMS.Models.Cinsiyet))), new { @class = "form-control form-select" })
                        @Html.ValidationMessageFor(model => model.Cinsiyet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sifre, htmlAttributes: new { @class = "control-label col" })
                    <div class="col">
                        @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group ">
                    <div class="col-md-offset-2 col d-flex justify-content-center">
                        <input type="submit" value="Kaydet" class="btn btn-primary pr-3 pl-3" />
                    </div>
                </div>
            </div>
        }



    </div>



</div>